header, footer {
	background-color: darkgray; 
	color: white;
	text-align: center;
	font-family: 'Comic Sans MS', Times, serif;
}
nav {
	background-color: white;
	}
	nav {
				padding-top: 12px;
				padding-bottom: 12px;
				color: #0000FF
				}	
				nav a:hover {
				font-weight: bold;
				}
				.btn:visited {
				background-color: #ff4500; 
				}
				nav .btn {
				background-color: #0000ff;
				color: #fffff0; 
				}